@charset "UTF-8";

/* =================================================================== 
 * Hudson Main Stylesheet
 * Template Ver. 1.0.0
 * 04-03-2023
 * ------------------------------------------------------------------
 *
 * TOC:
 * # SETTINGS
 *      ## fonts 
 *      ## colors
 *      ## spacing and typescale
 *      ## grid variables
 * # CSS RESET
 * # GRID
 * # BASE SETUP
 * # UTILITY CLASSES
 * # TYPOGRAPHY 
 *      ## base type styles
 *      ## additional typography & helper classes
 *      ## lists
 *      ## media 
 *      ## spacing
 * # PRELOADER
 *      ## page loaded
 * # FORM 
 *      ## style placeholder text
 * # BUTTONS
 * # TABLE
 * # COMPONENTS
 *      ## pagination
 *      ## alert box 
 *      ## skillbars
 *      ## stats tabs
 * # PROJECT-WIDE SHARED STYLES
 *      ## section header
 *      ## social list
 *      ## swiper overrides
 *      ## glightbox overrides
 * # GRID-BASED LAYOUTS
 *      ## grid block
 *      ## list grid
 * # PAGE WRAP
 * # SITE HEADER
 *      ## logo
 *      ## main navigation
 *      ## mobile menu toggle
 * # INTRO
 *      ## intro content
 *      ## intro btn cv download
 *      ## intro social
 *      ## intro scroll down
 *      ## intro transitions
 * # ABOUT
 *      ## about blocks
 * # WORKS
 *      ## folio entries 
 *      ## testimonials
 * # NUMBERS
 * # FOOTER
 *      ## copyright
 *      ## go top
 *
 * ------------------------------------------------------------------ */


/* ===================================================================
 * # SETTINGS
 *
 *
 * ------------------------------------------------------------------- */

/* ------------------------------------------------------------------- 
 * ## fonts 
 * ------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
    --font-1: "Public Sans", Sans-serif;
    --font-2: "Castoro", Serif;

  /* monospace
   */
    --font-mono: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

/* ------------------------------------------------------------------- 
 * ## colors
 * ------------------------------------------------------------------- */
:root {

  /* color-1(#C73E1D)
   * color-2(#2F352B)
   * color-3(#1A1A1A)
   */
    --color-1: hsla(12, 75%, 45%, 1);
    --color-2: hsla(96, 10%, 19%, 1);
    --color-3: hsla(0, 0%, 10%, 1);

  /* theme color variations
   */
    --color-1-lightest: hsla(12, 75%, 75%, 1);
    --color-1-lighter : hsla(12, 75%, 65%, 1);
    --color-1-light   : hsla(12, 75%, 55%, 1);
    --color-1-dark    : hsla(12, 75%, 35%, 1);
    --color-1-darker  : hsla(12, 75%, 25%, 1);
    --color-1-darkest : hsla(12, 75%, 15%, 1);

    --color-2-lightest: hsla(96, 10%, 49%, 1);
    --color-2-lighter : hsla(96, 10%, 39%, 1);
    --color-2-light   : hsla(96, 10%, 29%, 1);
    --color-2-dark    : hsla(96, 10%, 10%, 1);
    --color-2-darker  : hsla(96, 10%, 1%, 1);

    --color-3-light: hsla(0, 0%, 16%, 1);
    --color-3-dark : hsla(0, 0%, 8%, 1);

  /* feedback colors
   * color-error(#ffd1d2), color-success(#c8e675), 
   * color-info(#d7ecfb), color-notice(#fff099)
   */
    --color-error          : hsla(359, 100%, 91%, 1);
    --color-success        : hsla(76, 69%, 68%, 1);
    --color-info           : hsla(205, 82%, 91%, 1);
    --color-notice         : hsla(51, 100%, 80%, 1);
    --color-error-content  : hsla(359, 50%, 50%, 1);
    --color-success-content: hsla(76, 29%, 28%, 1);
    --color-info-content   : hsla(205, 32%, 31%, 1);
    --color-notice-content : hsla(51, 30%, 30%, 1);

  /* neutrals
   * generated using 
   * Tint & Shade Generator 
   * (https://maketintsandshades.com/)
   */
    --color-black  : #000000;
    --color-gray-19: #181818;
    --color-gray-18: #2f302f;
    --color-gray-17: #474747;
    --color-gray-16: #5e5f5e;
    --color-gray-15: #767776;
    --color-gray-14: #8e8f8e;
    --color-gray-13: #a5a7a5;
    --color-gray-12: #bdbebd;
    --color-gray-11: #d4d6d4;
    --color-gray-10: #eceeec;
    --color-gray-9 : #eef0ee;
    --color-gray-8 : #f0f1f0;
    --color-gray-7 : #f2f3f2;
